$font1: 'Times New Roman', Times, serif;
$font2: Arial, Helvetica, sans-serif;

$black1: rgba(8, 8, 8, 0.979);
$back2: rgba(0, 0, 0, 0.767);
$white1: rgb(252, 240, 230);
$creme: rgba(233, 208, 172, 0.938);
$purple: rgba(112, 1, 112, 0.438);

html {
    scroll-behavior: smooth;
}

* {
    margin: auto 63%;
    padding: 50px;
}


